
		body {
			background-color: #white;
			font-family: "times",sans-serif;
		}
		h1 {
			font-size: 18px; 
			line-height: 24px;
			font-family: "times",sans-serif;
			color: #123456;
		}
		p {color: #0387A8}
		.navigation {background-color: #03375A;
			width: 800px; 
			color: #BCC7CC;}


		.headline p {background-color: #245323;
			font-size: 14px;}
		.quotes p {color: #72C0D4;
			font-size: 14px;}
		.name p {color: #03375A;
			font-size: 50px;
			margin-bottom: 0px;}
		.tagline p {color: #0387A8;
			font-size: 16px;
			}	
		.btn-primary {
			background: #03375A;
			color:#BCC7CC;}
		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    		background: #0387A8;
		.btn-primary:active,.btn-primary:active; {
    		background: #007299;
    		box-shadow: none;}
		
.navbar {
	background-color: #03375A;
	border-color: #03375A;
	background-image: none;
	line-height: 15px

}

